body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    display: flex;
    background-color: #002775;
    border-radius: 20px;
    overflow: hidden;
    width: 800px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.image-section {
    background-image: url('izquierda.jpg'); /* Cambia esta URL a la de tu imagen */
    background-size: cover;
    background-position: center;
    width: 50%;
    position: relative;
}

.image-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Efecto de opacidad en la imagen */
}

.form-section {
    padding: 40px;
    background-color: white;
    width: 50%;
}

.form-section h2 {
    margin-bottom: 20px;
    color: #002775;
    text-align: center;
}

.form-section p {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

.form-section input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-section button {
    width: 100%;
    padding: 12px;
    background-color: #002775;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.form-section button:hover {
    background-color: #0042b3;
}