body {
    background-color: #001f3f; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.1imagen {
    margin: 10px;
    text-align: center;
    ]
.2imagen {
    margin: 20px;
    text-align: center;
}

.buttons {
    margin-top: 100px;
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers the buttons horizontally */
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff; 
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3; 
}